[submodule "verl/envs/hiring_env"]
	path = verl/envs/hiring_env
	url = git@github.com:WentseChen/hiring_env.git
	branch = merge-jun26-submod
[submodule "claude-tools"]
	path = claude-tools
	url = https://github.com/cpulling/verlog-claude-tools.git
