[submodule "recipe"]
	path = recipe
	url = https://github.com/verl-project/verl-recipe.git
[submodule "verl/envs/hiring_env"]
	path = verl/envs/hiring_env
	url = git@github.com:WentseChen/hiring_env.git
	branch = merge-jun26-submod
